@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*margin{
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}

body{
 font-family: 'Gemunu Libre', sans-serif;
 font-size: 16px;
 color:#333;
 


}

.box-1{
    width: 80%;
    height: 600px;
    display: inline-block;
    margin: 50px 10%;
    box-shadow: 0 27px 87px rgba(0,0,0,0.37) ;
    border-radius: 25px;
    overflow: hidden;
    background: linear-gradient(rgba(113, 197, 16, 0.5), rgb(37, 34, 34, 1));
    

}


.wrapper-1{
  background: linear-gradient(rgba(38, 42, 40, 0.5), rgb(37, 34, 34, 0.9)),
    url("https://cdn.wallpapersafari.com/85/8/sr2kC0.jpg");
     background-size: cover;
     height: 120vw;
    
   
}

.wrapper-2{
     background: linear-gradient(rgba(38, 42, 40, 0.5), rgb(37, 34, 34, 0.9)),
    url("https://cdn.wallpapersafari.com/85/8/sr2kC0.jpg");
     background-size: cover;
     height: 80vw;
}

.dir-text{
    width: 55%;
    float: left;
    padding-left: 55px;

}

.dir-image{
    float: left;
    width: 27%;
   box-shadow: 0 27px 87px rgba(0,0,0,0.37) ;
}

.box-text{
    width: 55%;
    float: left;
    padding-left: 70px 70px 70px 35px ;
    text-align: center;
    
}

.box-text h1{
 font-size: 48px;
 font-weight: bold;
 color: #f6e9e9;
 padding: 50px;
 margin-bottom: 45px;
 margin-left: 30px;

}

.box-text h4 {
   font-size: 24px; 
   font-weight: 400;
   color: #e7d20f;
   line-height: 30px;
   letter-spacing: 0.25px;
   margin-bottom: 15px;
   margin-left: 30px;
}

.span-3{
    color: rgb(238, 243, 230);
    padding: 10px;
    font-weight: bold;
    line-height: 70px;
    
}

.span-4{
    color: rgb(237, 238, 227);
    padding: 10px;
    line-height: 90px;
}

.span-5{
       color: rgb(250, 255, 252);
    padding: 10px;
    line-height: 90px; 
    text-align: center;
}

.span-13{
    color: white;
    text-align: center;
    margin-left: -130px;
    padding: 30px;
}