

.movie-image{
    width: 200px;
}

.dir-mov{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.dir-image{
    width: 400px;
}

.review-container{
  text-align: center;
  color: rgb(49, 42, 47);
  padding: 20px;
  margin: 70px;
  margin-left: 800px;
  border: 1px solid transparent;
  max-width: 500px;
  background: linear-gradient(rgba(11, 152, 218, 0.5), rgba(37, 197, 176, 0.5));

}

.review-head{
    text-align: center;
    padding: 20px;
    font-size: 35px;
    margin-top: 20px;
    color: rgb(63, 55, 51);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-1{
   padding: 20px;
   margin: 10px;
}
.container-1{
    width: 50%;
    text-align: center;
    margin-left: 520px;
    
}

.btn-4{
   margin-top: -15px;
}