@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1070px;

  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 58px;
}

ul {
  list-style: none;
}
.footer {
  background: linear-gradient(rgba(12, 11, 12, 0.7), rgba(101, 57, 172, 0.8));
  margin-top: -30px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: bold;
  position: realtive;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li {
  text-decoration: none;
  margin-left: -25px;
  list-style: none;
  color: rgb(244, 248, 23);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.footer-col ul li:hover {
  color: white;
}
.social ul li a:hover {
  color: rgb(255, 255, 255);
}

.social ul li a {
  text-decoration: none;
  margin-left: -20px;
  color: rgb(230, 230, 64);
  font-size: 19px;
  font-weight: bold;
}

.social {
  width: 25%;
  padding: 0 15px;
}

.copyright {
  color: rgb(165, 231, 12);
  font-weight: 900;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.span-11 {
  color: rgb(255, 255, 255);
}

@media (max-width: 500px){
  .footer{
    font-size: 15px;
    display: flex;
    justify-content: center;
  }
}