@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600&display=swap');
*{
    margin-top: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.main_card {
	color: #fff;
	width: 1060px;
	height: 960px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 770px;
	background: #373b3b; 
	 background: linear-gradient(rgba(11, 99, 231, 0.6), rgba(1, 2, 2, 0.9));
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
	        box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.card_left {
	width: 90%;
}

.card_datails {
	width: 90%;
	padding: 30px;
	margin-top: -25px;
}
.card_datails  h1 {
	font-size: 30px;
}
.card_right img {
	height: 490px;
    width: 380px;
	border-radius: 2px;
}
.card_right {
	border-radius: 2px;
}

.card_cat {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.PG, .genre, .time {
	color: fff;
    margin: 10px;
	padding: 10px;
	font-weight: bold;
    font-size: 20px;
	border-radius: 15px;
    color: rgb(215, 228, 196);
}

.PG {
	background: #3b3b2f;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1);
	        box-shadow: 0 0 50px rgba(0,0,0,0.1);
	
}

.disc {
	font-weight: 500;
    padding-left: 50px;
    font-size: 20px;
	line-height: 27px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Roboto Slab', serif;

}

.movie-des{
    text-align: center;
   font-family: 'Roboto Slab', serif;
}

.social-btn {
	margin-left: -10px;
}

.btn{
    margin-left: 30px;
    background: cornflowerblue;
}

a:hover{
    color: greenyellow;
    
}

.movie-title{
    margin-top: 20px;
    text-align: center;
     font-family: 'Roboto Slab', serif;
     color: rgb(182, 233, 15);
}

.wrapper{
	background: linear-gradient(rgba(14, 15, 15, 0.1), rgba(19, 13, 22, 1)),
    url("https://wallpapercave.com/wp/24t2Yct.jpg");
  background-size: cover;
  background-position: center;
}






