@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Gemunu+Libre:wght@500;600;700;800&family=Indie+Flower&family=Monoton&display=swap');
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}




.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 99px;
    background: linear-gradient(rgba(31, 12, 202, 0.7), rgba(29, 23, 39, 0.6));
    color: rgb(251, 245, 245);
}

.nav-Links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;

}

.ham-menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.home,
.about,
.contact,
.signup{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size:  29px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Gemunu Libre', sans-serif;

}

.span-9{
    color: greenyellow;
    font-size: 45px;
     font-family: 'Barlow', sans-serif;
}

.signup{
   border: 1px solid yellow; 
   border-radius: 10px;

}

.logo-img{
    width: 80px;
    height: auto;
}

.mobile-menu-icon{
  display: none;   
}

 .main-nav-active {
    color: rgb(243, 239, 6);
 
   
    transition: all 5s ease-in-out;
}

 .main-nav-active-1 {
    color: rgb(236, 234, 234);
    transition: all 2s ease-in-out;
}


@media screen and (max-width : 780px){
   .logo{
       display: flex;
       position: absolute;
       top: 15px;
       left: 35px;
   }

   .nav-Links{
       display: none;
   }

   .nav-Links-mobile{
       position: absolute;
       display: block;
       list-style: none;
       background-color: #005469;
       left: 0;
       top: 75px;
       transition: all 0.5s ease-out;
       width: 100%;
   }

   .home,
   .contact,
   .about,
   .signup{
       color: white;
       text-align: center;
       padding: 32px;
       width: 100%;
       transition: all 0.5s ease;
   }

   .signup{
       border: none;
   }

   .mobile-menu-icon{
      display: block; 
      position: absolute;
      font-size: 30px;
      color: white;
      background-color: #00828c;
      border: none;
      outline: none;
      top: 15px;
      right: 25px;
   }
}