*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}




.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background: linear-gradient(rgba(31, 12, 202, 0.6), rgba(29, 23, 39, 0.5));
    color: rgb(251, 245, 245);
}

.nav-Links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;

}

.ham-menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.home,
.about,
.contact,
.signup{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size:  22px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
}

.span-9{
    color: greenyellow;
    font-size: 30px;
}

.signup{
   border: 1px solid yellow; 
   border-radius: 10px;

}

.logo-img{
    width: 80px;
    height: auto;
}

.mobile-menu-icon{
  display: none;   
}

@media screen and (max-width : 780px){
   .logo{
       display: flex;
       position: absolute;
       top: 15px;
       left: 35px;
   }

   .nav-Links{
       display: none;
   }

   .nav-Links-mobile{
       position: absolute;
       display: block;
       list-style: none;
       background-color: #005469;
       left: 0;
       top: 75px;
       transition: all 0.5s ease-out;
       width: 100%;
   }

   .home,
   .contact,
   .about,
   .signup{
       color: white;
       text-align: center;
       padding: 32px;
       width: 100%;
       transition: all 0.5s ease;
   }

   .signup{
       border: none;
   }

   .mobile-menu-icon{
      display: block; 
      position: absolute;
      font-size: 30px;
      color: white;
      background-color: #00828c;
      border: none;
      outline: none;
      top: 15px;
      right: 25px;
   }
}